@charset "UTF-8";

/* 기본설정 : 페이지 전체 */
body{
    margin: 0;
    font-family: '맑은 고딕', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
}

/* 헤더 */
header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

/* 헤더A : 로고 */
.headA{
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-family: '맑은 고딕', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* 헤더B: 네비게이션 메뉴 */
.headB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a{
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}
.headB a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.headB .on{
    color: blue;
}
/* 콘텐츠A : 히어로 이미지 */
.conA{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/camping.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 450px;
    display: flex;
    align-items: center; /* 세로 중앙 배치 */
    justify-content: center; /* content 중앙 배치 */
}

.conA h1{
    color:rgba(255, 255, 255, 0.9);
    
}

.container .conA{
    height: 80.8vh;
}
/* 로그인 창 */
.conA .login{  
  background-color: white;    
  width: 400px;
  height: 400px;
}

.login h2{
    margin-top: 10px;
}


.join{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/join.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 80.8vh;
}

.join::before{
    opacity: 0.2;
}

/* 콘텐츠B : 공지사항 */
.conB .container{
    padding-bottom: 20px;
}

.conB .text{   
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}


.conB a{
    text-decoration: none;
    color: #5D9AB2;
    color: var(--main-color);
}

.conB a:hover{
    text-decoration: underline;
}

.notice h3{
    height: 70px;
}

.notice ul{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    list-style:none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
   
}

.notice li{    
    margin : 0 15px;
    width: 250px;
    word-wrap: break-word;
    background: #f3f6f8;
   
}

span.contents{    
    color: #555;
    font-size: 0.9rem;
    letter-spacing: -0.02em;
    line-height: 1.5;
    padding: 0;
    outline: none;
    
}

span.date{
    position: relative;
    justify-content: flex-start;
   
    font-size: 15px;
    color: #0669c6; 
    margin: 27px 0 35px;
    
}

/* 콘텐츠C : 이미지 */

.conC{
    /* background-color: #5D9AB2; */
    color: black;
}

.conC .text{
    padding: 20px; /* 글자주변 여백 */
}


.conC h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conC p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conC a{
    text-decoration: none;
    font-size: 14px;
    color: var(--text-bright-color);
    background-color: var(--accent-color);
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
}


.conC a:hover{
    background-image: linear-gradient(rgba(0, 17, 255, 0.2), rgba(0, 17, 255, 0.2));
}

.conC .photo{
    min-height: 200px; /* 아무것도 없는 div 이기에 보이게 하려면 min-height 지정 */
    background-image: url(../img/camping1.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    background-color: rgba(0, 0, 0, 0.9);

    color: #fff;
}


.footA{
    font-size: 12px;
    text-align: center;
    font-family: '맑은 고딕', sans-serif;
}

@media (max-width: 767px){ /* 768 이하*/
    /* 작은 화면 전용 설정 */
    header .container-small{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    /* 작은 화면에선 메뉴 감추기 */
    .headB{
        display:none;
    }

    /* 토글 버튼 스타일 */
    .headC {
        margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
    }

    .headC:hover{
        opacity: 0.3;
    }

    .notice ul{
        display: flex;
        align-content: flex-start;
        /* flex-flow: column wrap; */
        flex-direction: column;
        list-style:none;
       
       
    }

    .notice li{
        align-self: flex-start;
        margin-top: 15px;
    }
}

@media (min-width: 768px){/* 768 이상 (pc) */
    header .containerA{
        /* 사이트이름과 네비게이션 메뉴를 각각 왼쪽/오른쪽으로 배치하기 */
        display: flex;
        align-items: center; /* 세로 방향으로 중앙 정렬 */
        justify-content: space-between; /* 왼쪽 오른쪽 끝방향으로 정렬 */
                
        /* 하단 컨텐츠와 너비 맞추기 */
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    /* 큰 화면에선 메뉴 보이게 하기 */
    .headB {
        display: block !important;
    }

    /* 링크를 가로로 정렬 */
    .headB ul{
        display:flex;
    }

    /* 큰 화면 전용 설정 */
    .headC {
        display : none;
    }


    .conA h1{
        font-size: 115px; /* 768px 이상에선 고정 크기 */
    }


    .conB .container{ /* 그래서, 부모를 flex로 설정 */       
        max-width: 1000px; /*최대 폭 지정*/
        margin-left: auto;
        margin-right: auto;   
    }

    .conB li{
        padding-bottom: 10px;
    }

    .notice h3{
        height: 100px;
    }


    .conC .container{ /*그래서 부모를 flex로 설정 */
        display: flex;
        /* 컨텐츠 B와 너비 맞추기 */
        max-width: 1000px; /*최대 폭 지정*/
        margin-left: auto;
        margin-right: auto;
    }
    /* 이미지와 글자 3 : 2 비율 */ 
    .conC .photo{
        flex: 3;
    }
    .conC .text{
        flex: 2;
    }  

    footer .container{
        display: flex;
        flex-wrap: wrap;
        /* 위 쪽의 컨텐츠와 너비 맞추기*/
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .footA{
        flex: 0 0 100%;
        
    };
}